<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <center>
        <h1>Calculator</h1>
    </center>
    <center>
        <form action="{% url 'calc' %}" method="post" >
            {% csrf_token %}
            <label>First value:</label><br>
            <input type="text" name="num1"><br><br>

            <label>Second value:</label><br>
            <input type="text" name="num2"><br><br>
            <select name="opr">
                <option class="select">Select operation</option>
                <option value="+">Addition(+)</option>
                <option value="-">substraction(-)</option>
                <option value="*">Multiplication(*)</option>
                <option value="/">Division(/)</option>

            </select><br><br>
    </center> 
            <center>
                <button type="submit">calculate</button><br><br>
                <input class="result" type="text" value="{{result}}"><br>
            </center>       
        </form>
    
</body>
</html>